body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40vw;
  border: 3px solid black;
  border-radius: 1rem;
  overflow: hidden;
}

.ratio-box {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}

.the-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 55%;
}

figcaption {
  padding: 1rem;
}
