body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  width: 75vw;
  max-width: 50rem;
}

.content img {
  filter: url(#cherry-icecream);
}
