body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60vw;
  max-width: 35rem;
  overflow: hidden;
  border: 1rem solid pink;
}

.ratio-box {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}

.content img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  object-fit: cover;
}

.content img {
  -webkit-mask-image: url(heart.svg);
  mask-image: url(heart.svg);
}
