body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  width: 75vw;
  max-width: 50rem;
  background: url(https://source.unsplash.com/9t691X-ZcA0/1197x1800);
  background-size: cover;
  background-position: center;
}

.content img {
  mix-blend-mode: screen;
  filter: blur(1px);
  -webkit-mask-image: radial-gradient(
    circle,
    hsla(0, 0%, 0%, 0) 17%,
    hsl(0, 0%, 0%) 47%
  );
  mask-image: radial-gradient(
    circle,
    hsla(0, 0%, 0%, 0) 17%,
    hsl(0, 0%, 0%) 47%
  );
}
