body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60vw;
  height: 60vh;
  border: 1px solid hsl(0, 0%, 75%);
}
