body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  width: 75vw;
  max-width: 50rem;
}

.content img {
  filter: blur(0px);
  filter: brightness(100%);
  filter: contrast(100%);
  filter: drop-shadow(1rem 1rem 1rem rebeccapurple);
  filter: grayscale(0%);
  filter: hue-rotate(0deg);
  filter: invert(0%);
  filter: opacity(100%);
  filter: saturate(100%);
  filter: sepia(0%);
}
