body {
  margin: 0;
}

img {
  width: 20rem;
  height: auto;
  display: block;
}

.image-container {
  border: 1px solid black;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 60vh;
  border: 1px solid hsl(0, 0%, 75%);
}

p {
  font-size: 2rem;
}
